<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the chapters</title>
</head>
<body>

<h1>Overview of all the chapters</h1>

<table>
    <thead>
        <tr>
            <td>Chapter</td>
            <td>Locations</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tr th:each="chapter : ${chapters}">
        <td th:text="${chapter.chapterNumber}"></td>
        <td>number: <span th:text="${chapter.getNumberOfLocations()}"></span></td>
        <td><a th:href="@{/location/new/{chapterId}(chapterId = ${chapter.getChapterId()})}">Buy</a></td>
        <td><a th:href="@{/chapter/edit/{chapterId}(chapterId = ${chapter.getChapterId()})}">edit</a></td>
        <td><a th:href="@{/chapter/delete/{chapterId}(chapterId = ${chapter.getChapterId()})}">delete</a></td>
    </tr>
</table>

<a th:href="@{/chapter/add}">Add a new chapter</a>

</body>
</html>