<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the chapters</title>
</head>
<body>

<h1><a th:href="@{/}">Overview of all the chapters</a></h1>

<table>
    <thead>
        <tr>
            <td>Chapter</td>
        </tr>
    </thead>

    <tr th:each="chapter : ${chapters}">
        <td><a th:href="@{/chapter/detail/{chapterNumber}(chapterNumber =
        ${chapter.chapterNumber})}" th:text="${chapter.chapterNumber}"></a></td>
    </tr>
</table>

<form th:action="@{/chapter/save}" method="post" th:object="${formChapter}">
    Chapter: <input type="text" th:field="*{chapterNumber}"> <input type="submit" value="Add chapter">
</form>

<!--<a th:href="@{/chapter/add}">Add a new chapter</a>-->

</body>
</html>