<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new chapter</title>
</head>
<body>

<h1><a th:href="@{/}">Add a new chapter</a></h1>
<form th:action="@{/chapter/save}" method="post" th:object="${formChapter}">
    <input type="hidden" th:field="*{chapterId}">
    Title: <input type="text" th:field="*{chapterNumber}">

    Weapon:
    <select th:field="*{weapons}" multiple>
        <option th:each="weapon : ${allWeapons}"
                th:text="${weapon.name}"
                th:value="${weapon.weaponId}">

        </option>
    </select>
    <input type="submit" value="Save chapter">
</form>


</body>
</html>