<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overview of all the weapons</title>
</head>
<body>

<h1>Overview of all the weapons</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
    </thead>

    <tr th:each="weapon : ${allWeapons}">
        <td th:text="${weapon.name}"></td>
        <td><a th:href="@{/weapon/delete/{weaponId}(weaponId = ${weapon.weaponId})}">delete</a></td>
    </tr>
</table>

<form th:action="@{/weapon/save}" method="post" th:object="${formWeapon}">
    Name: <input type="text" th:field="*{name}"> <input type="submit" value="Add weapon">
</form>

</body>
</html>